/* User Management Styles */
.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.add-user-form input {
  width: 380px;
}
.user-form-input span{
    display:none

}
.user-form-input input:invalid[focused='true'] ~ span{
    display: block;    
}


h2 {
  color: var(--font);
  margin-bottom: var(--spacing-s);
  align-self: flex-start;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-m);
  box-shadow: var(--shadow);
  border-radius: var(--m-radius);
}

thead{
  border-radius: var(--m-radius);
  margin-bottom: var(--spacing-m);
}

.user-table-header-first{
  border-top-left-radius: var(--s-radius); /* Add this */
}

.user-table-header-last{
  border-top-right-radius: var(--m-radius); 
}

th,
td {
  padding: var(--spacing-s);
  background-color: var(--grey1);
  text-align: left;
}

th {
  background-color: var(--grey4);
  color: var(--font);
  font-weight: bold;
}

tr:hover {
  background-color: var(--grey3);
}

button {
  background-color: var(--primary);
  color: var(--font);
  border: none;
  border-radius: var(--s-radius);
  padding: var(--spacing-xs) var(--spacing-s);
  cursor: pointer;
  transition: background-color var(--fast-transition);
  min-width: 80px;
  align-self: flex-start;
}

button:hover {
  background-color: var(--secondary);
}
