.automation-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.automation-body {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
    max-width: 100%;
    flex-wrap: wrap;
}