.closeButton {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--grey-icons);
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.2s;
  margin-left: 8px;
  width: auto;
  max-width: none;
  min-height: 0;
}

.closeButton:hover {
  opacity: 0.8;
  box-shadow: none;
  color: var(--primary)
}

.closeButton:active {
  opacity: 0.4;
} 