:root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  
  /* Dark Mode Palette */
  --background: #1f1f1f;
  --grey1: #252525;
  --grey2: #404040;
  --grey3: #1f1f1f;
  --grey4: #282828;
  --grey-icons: #a9a9a9;
  --font: #b7b7b7;
  --primary: #1985a1;
  --secondary: #1a9bbd; 
  --error: #d9534f; 
  --warning: #f0ad4e; 
  --success: #5cb85c; 

  /* Font Sizes */
  --s-font: 0.75rem; 
  --m-font: 1rem; 
  --l-font: 1.5rem;
  /* Border Radius */
  --l-radius: 8px;
  --m-radius: 4px;
  --s-radius: 2px;
  /* Transitions */
  --fast-transition: 0.2s;
  --medium-transition: 0.5s;
  --slow-transition: 1s;

  /* Shadows */
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.08), 0 16px 24px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px hsla(0, 0%, 100%, 0.08);
  --shadow-inner: inset 2px 2px 4px rgba(0, 0, 0, 0.08),
    inset -1px -1px 1px hsla(0, 0%, 100%, 0.06);
  --shadow-down: 0 0px 3px rgba(0, 0, 0, 0.08), 0 0px 2px rgba(0, 0, 0, 0.08),
    0 6px 0px rgba(0, 0, 0, 0.08), 0 0px 12px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px hsla(0, 0%, 100%, 0.08);
  --shadow-up: 0 0px 0px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0, 0, 0, 0.08),
    0 0px 0px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px hsla(0, 0%, 100%, 0.08);
  --double-border: 0 0 0 2px #202020d9, 0 0 0 3px #2d2d2d;
  --double-border-hover: 0 0 0 2px #1985a1, 0 0 0 3px #2d2d2d;
  --double-border-red: 0 0 0 2px var(--red), 0 0 0 3px #2d2d2d;
  --double-border-orange: 0 0 0 2px var(--orange), 0 0 0 3px #2d2d2d;
  --primary-light: 0 0 5px rgba(25, 133, 161, 0.5);

}

body {
  background-color: var(--background);
  color: var(--primary);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif; /* Apply the smooth font */
  font-size: 16px; /* Base font size */
  line-height: 1.5; /* Improve readability */
  color: var(--grey-icons);
}



textarea {
  resize: vertical; /* Allow vertical resizing only */
}

textarea:focus,
input:focus:not([class*='react-select']):not([class*='react-select'] *) {
  border-color: var(--primary);
  outline: none;
}

textarea:disabled,
input:disabled {
  background-color: var(--grey);
}

button {
  border: 0px solid transparent;
  box-shadow: var(--double-border);
  border-radius: var(--s-radius);
  background-color: var(--grey4);
  color: var(--grey-icons);
  margin: 0.25rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
}

button:hover {
  box-shadow: var(--double-border-hover);
  transition: box-shadow var(--fast-transition) ease;
}

button:active {
  box-shadow: var(--double-border);
  opacity: 0.4;
}

.elevated {
  background-color: var(--grey4);
  border-radius: 8px;
  box-shadow: var(--shadow);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 16px; /* Padding for inner spacing */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
  flex-direction: column;
}

.separator {
  height: 2px; /* Adjust the height as needed */
  background: linear-gradient(
    to right,
    transparent,
    var(--primary),
    transparent
  );
  border-radius: var(--s-radius); /* Smooth effect on the edges */
  margin: 1rem -5rem; /* Adjust the margin to overflow horizontally */
  transition: background-color var(--fast-transition) ease; /* Smooth transition effect */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notification-exit {
  animation: fadeOut 0.5s ease-out;
}
