.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  width: var(--panel-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title h2 {
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.separator {
  width: 100%;
  height: 2px;
}

.date-contanier,
.platforms-container {
  margin-bottom: 20px;
}
.date-contanier,
.platforms-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.react-select {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-l);
}
.keywords-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--spacing-l);
}
#keywordsInput {
  width: 45ch;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.start-download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.console-display-container {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.transition-container {
  position: relative;
  width: 100%;
}

.transition-container .transition-section {
  position: absolute;
  width: 100%;
}

.reset-btn {
  display: flex;
  padding-bottom: var(--spacing-m);
  border: 2px solid var(--grey3);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute; 
  top: 10px;
  right: 10px;
  box-shadow: var(--shadow);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.reset-btn:before {
  content: "";
  display: block;
  background: var(--grey1);
  border-top: 2px solid var(--grey2);
  position: absolute;
  top: -9px;
  left: -9px;
  bottom: -9px;
  right: -9px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: var(--shadow-inner);
}
.reset-btn-icon {
  rotate: 145deg;
  padding: 0px 0px 8px 5px;
}